# Homework 1

### **Part 1: Data Cleaning and Exploration**

##### 1. Load the dataset. Check the first 5 rows.

In [4]:
install.packages("dplyr")
install.packages("lubridate")

library(dplyr)
library(lubridate)

# Load the dataset
crime_data <- read.csv("crime_data.csv", stringsAsFactors = FALSE)

# Show the first 5 rows
head(crime_data, 5)

The downloaded binary packages are in
	/var/folders/kq/p_rf2pqn3v188w5gfn697n6c0000gn/T//RtmppQVaPr/downloaded_packages

The downloaded binary packages are in
	/var/folders/kq/p_rf2pqn3v188w5gfn697n6c0000gn/T//RtmppQVaPr/downloaded_packages

  DR_NO     Date.Rptd              DATE.OCC               TIME.OCC AREA
1 241711715 08/01/2024 12:00:00 AM 08/01/2024 12:00:00 AM 1319     17
2 231014031 09/21/2023 12:00:00 AM 09/15/2023 12:00:00 AM 1930     10
3 231010808 06/27/2023 12:00:00 AM 06/26/2023 12:00:00 AM 1230     10
4 211410441 04/25/2021 12:00:00 AM 04/25/2021 12:00:00 AM 2330     14
5 211114569 10/25/2021 12:00:00 AM 10/25/2021 12:00:00 AM 1455     11
  AREA.NAME   Rpt.Dist.No Part.1.2 Crm.Cd Crm.Cd.Desc
1 Devonshire  1791        1        440    THEFT PLAIN - PETTY ($950 & UNDER)
2 West Valley 1011        2        354    THEFT OF IDENTITY
3 West Valley 1015        2        354    THEFT OF IDENTITY
4 Pacific     1488        2        626    INTIMATE PARTNER - SIMPLE ASSAULT
5 Northeast   1123        1        210    ROBBERY
  ... Status Status.Desc Crm.Cd.1 Crm.Cd.2 Crm.Cd.3 Crm.Cd.4
1 ... IC     Invest Cont 440      NA       NA       NA
2 ... IC     Invest Cont 354      NA       NA       NA
3 ... IC     Invest Cont 354      NA       NA       NA
4 ... IC     Invest Cont 626      NA       NA       NA
5 ... IC     Invest Cont 210      NA       NA       NA
  LOCATION                                 Cross.Street LAT     LON
1 8300    KELVIN                       AV               34.2200 -118.5863
2 18900    CANTLAY                      ST              34.2023 -118.5458
3 7300    ENFIELD                      AV               34.2033 -118.5241
4 5800 W  CENTURY                      BL               33.9456 -118.3835
5 2900    LOS FELIZ                    BL                0.0000    0.0000

##### 2. Identify columns with missing values and their respective counts. Drop columns where more than 50% of the data is missing (store this version as a new dataset).

In [63]:
# Check missing values per column
missing_data <- colSums(is.na(crime_data) | crime_data == "" | sapply(crime_data, is.nan))
totalRows = nrow(crime_data)

# Drop columns with more than 50% missing values
threshold <- totalRows * 0.5
# Identify columns to drop (more than 50% missing data)
columns_to_drop <- names(missing_data[missing_data >= threshold])
cat("Columns with more than 50% missing values and will be dropped:\n")
print(columns_to_drop)

cleaned_data <- crime_data[, missing_data < threshold]

head(cleaned_data, 5)

Columns with more than 50% missing values and will be dropped:
[1] "Weapon.Used.Cd" "Weapon.Desc"    "Crm.Cd.2"       "Crm.Cd.3"
[5] "Crm.Cd.4"       "Cross.Street"

  DR_NO     Date.Rptd              DATE.OCC               TIME.OCC AREA
1 241711715 08/01/2024 12:00:00 AM 08/01/2024 12:00:00 AM 1319     17
2 231014031 09/21/2023 12:00:00 AM 09/15/2023 12:00:00 AM 1930     10
3 231010808 06/27/2023 12:00:00 AM 06/26/2023 12:00:00 AM 1230     10
4 211410441 04/25/2021 12:00:00 AM 04/25/2021 12:00:00 AM 2330     14
5 211114569 10/25/2021 12:00:00 AM 10/25/2021 12:00:00 AM 1455     11
  AREA.NAME   Rpt.Dist.No Part.1.2 Crm.Cd Crm.Cd.Desc
1 Devonshire  1791        1        440    THEFT PLAIN - PETTY ($950 & UNDER)
2 West Valley 1011        2        354    THEFT OF IDENTITY
3 West Valley 1015        2        354    THEFT OF IDENTITY
4 Pacific     1488        2        626    INTIMATE PARTNER - SIMPLE ASSAULT
5 Northeast   1123        1        210    ROBBERY
  ... Vict.Sex Vict.Descent Premis.Cd Premis.Desc
1 ... M        O            501       SINGLE FAMILY DWELLING
2 ... F        W            501       SINGLE FAMILY DWELLING
3 ... F        O            501       SINGLE FAMILY DWELLING
4 ... F        B            503       HOTEL
5 ... X        X            412       ELECTRONICS STORE (IE:RADIO SHACK, ETC.)
  Status Status.Desc Crm.Cd.1 LOCATION                                 LAT
1 IC     Invest Cont 440      8300    KELVIN                       AV  34.2200
2 IC     Invest Cont 354      18900    CANTLAY                      ST 34.2023
3 IC     Invest Cont 354      7300    ENFIELD                      AV  34.2033
4 IC     Invest Cont 626      5800 W  CENTURY                      BL  33.9456
5 IC     Invest Cont 210      2900    LOS FELIZ                    BL   0.0000
  LON
1 -118.5863
2 -118.5458
3 -118.5241
4 -118.3835
5    0.0000

##### 3. Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate columns. Create a new column for the hour using the TIME OCC column.

In [65]:
cleaned_data_dateformatted <- cleaned_data %>%
  # Convert DATE OCC to Date format using lubridate
  mutate(DATE.OCC = mdy_hms(DATE.OCC),  # or use ymd(), dmy() based on your date format
         # Extract Year, Month, Day using lubridate
         Year = year(DATE.OCC),
         Month = month(DATE.OCC),
         Day = day(DATE.OCC),
         # Extract Hour from TIME OCC (assuming HHMM format)
         Hour = substr(TIME.OCC, 1, 2))

# Show the first few rows of the updated data
head(cleaned_data_dateformatted, 5)

  DR_NO     Date.Rptd              DATE.OCC   TIME.OCC AREA AREA.NAME
1 241711715 08/01/2024 12:00:00 AM 2024-08-01 1319     17   Devonshire
2 231014031 09/21/2023 12:00:00 AM 2023-09-15 1930     10   West Valley
3 231010808 06/27/2023 12:00:00 AM 2023-06-26 1230     10   West Valley
4 211410441 04/25/2021 12:00:00 AM 2021-04-25 2330     14   Pacific
5 211114569 10/25/2021 12:00:00 AM 2021-10-25 1455     11   Northeast
  Rpt.Dist.No Part.1.2 Crm.Cd Crm.Cd.Desc                        ... Status
1 1791        1        440    THEFT PLAIN - PETTY ($950 & UNDER) ... IC
2 1011        2        354    THEFT OF IDENTITY                  ... IC
3 1015        2        354    THEFT OF IDENTITY                  ... IC
4 1488        2        626    INTIMATE PARTNER - SIMPLE ASSAULT  ... IC
5 1123        1        210    ROBBERY                            ... IC
  Status.Desc Crm.Cd.1 LOCATION                                 LAT
1 Invest Cont 440      8300    KELVIN                       AV  34.2200
2 Invest Cont 354      18900    CANTLAY                      ST 34.2023
3 Invest Cont 354      7300    ENFIELD                      AV  34.2033
4 Invest Cont 626      5800 W  CENTURY                      BL  33.9456
5 Invest Cont 210      2900    LOS FELIZ                    BL   0.0000
  LON       Year Month Day Hour
1 -118.5863 2024  8     1  13
2 -118.5458 2023  9    15  19
3 -118.5241 2023  6    26  12
4 -118.3835 2021  4    25  23
5    0.0000 2021 10    25  14

##### 4. Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description BURGLARY in the Crm Cd Desc column.

In [68]:
#Filtering by year
# Filter for crimes in 2023 and with BURGLARY
crime_data_2023 <- cleaned_data_dateformatted %>%
  filter(Year == 2023)

crime_data_2023_burglary <- crime_data_2023 %>%
  filter(Crm.Cd.Desc == "BURGLARY")

cat('Clean Data:', nrow(cleaned_data_dateformatted), '\n')
cat('Only 2023 crimes:', nrow(crime_data_2023), '\n')
cat('Only 2023 crimes that are burglary:', nrow(crime_data_2023_burglary), '\n')

head(crime_data_2023_burglary)

Clean Data: 50000
Only 2023 crimes: 11665
Only 2023 crimes that are burglary: 725

  DR_NO     Date.Rptd              DATE.OCC   TIME.OCC AREA AREA.NAME
1 231107877 04/15/2023 12:00:00 AM 2023-01-15  500     11   Northeast
2 231912840 08/15/2023 12:00:00 AM 2023-08-14 2200     19   Mission
3 230813484 08/19/2023 12:00:00 AM 2023-08-19  510      8   West LA
4 230126836 12/20/2023 12:00:00 AM 2023-12-10 1200      1   Central
5 231506351 02/26/2023 12:00:00 AM 2023-02-22 1230     15   N Hollywood
6 231609277 06/17/2023 12:00:00 AM 2023-06-12 2000     16   Foothill
  Rpt.Dist.No Part.1.2 Crm.Cd Crm.Cd.Desc ... Status Status.Desc Crm.Cd.1
1 1151        1        310    BURGLARY    ... IC     Invest Cont 310
2 1962        1        310    BURGLARY    ... IC     Invest Cont 310
3  857        1        310    BURGLARY    ... IC     Invest Cont 310
4  154        1        310    BURGLARY    ... IC     Invest Cont 310
5 1562        1        310    BURGLARY    ... IC     Invest Cont 310
6 1667        1        310    BURGLARY    ... IC     Invest Cont 310
  LOCATION                                 LAT     LON       Year Month Day
1 5000 W  SUNSET                       BL  34.0981 -118.2983 2023  1    15
2 15000    CORE                         LN 34.2424 -118.4596 2023  8    14
3 9400 W  PICO                         BL  34.0553 -118.3943 2023  8    19
4 100 E  6TH                          ST   34.0460 -118.2493 2023 12    10
5 4400    BABCOCK                      AV  34.1504 -118.4063 2023  2    22
6 9400    LA TUNA CANYON               RD  34.2429 -118.3417 2023  6    12
  Hour
1 50
2 22
3 51
4 12
5 12
6 20

##### 5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age. Sort the results by total crimes in descending order.

In [71]:
# Group by AREA NAME, calculate total crimes and average victim age
grouped_data <- cleaned_data %>%
  group_by(AREA.NAME) %>%
  summarise(
    total_crimes = n(),
    avg_victim_age = mean(Vict.Age, na.rm = TRUE)
  ) %>%
  arrange(desc(total_crimes))

  head(grouped_data, nrow(grouped_data))

   AREA.NAME   total_crimes avg_victim_age
1  Central     3517         28.48138
2  77th Street 3115         29.15152
3  Pacific     3004         28.97803
4  Southwest   2831         29.04804
5  Hollywood   2556         28.33138
6  Newton      2537         25.05479
7  Olympic     2523         27.73286
8  N Hollywood 2503         28.34678
9  Southeast   2459         28.36275
10 Rampart     2388         26.27345
11 Wilshire    2379         29.59563
12 West LA     2249         30.30725
13 Van Nuys    2162         31.74838
14 West Valley 2114         30.64049
15 Northeast   2103         28.73276
16 Topanga     2076         34.01879
17 Harbor      2052         26.98392
18 Devonshire  2031         29.59774
19 Mission     1933         29.60942
20 Hollenbeck  1843         26.15844
21 Foothill    1625         30.51138

### **Part 2: Further Exploration**

##### 1. Group the data by Month and count the number of crimes.

In [73]:
crimes_by_month <- cleaned_data_dateformatted %>%
  group_by(Month) %>%
  summarise(total_crimes = n())

head(crimes_by_month, nrow(crimes_by_month))

   Month total_crimes
1   1    4578
2   2    4290
3   3    4361
4   4    4189
5   5    4088
6   6    4058
7   7    4179
8   8    4147
9   9    4054
10 10    4226
11 11    3948
12 12    3882

##### 2. Count the number of crimes where a weapon was used (Weapon Used Cd is not null).

In [75]:
crimes_with_weapon <- crime_data %>%
  filter(!is.na(Weapon.Used.Cd)) %>%
  summarise(total_crimes = n())

  head(crimes_with_weapon)

  total_crimes
1 16346

##### 3. Group the data by Premis Desc and count the number of crimes.

In [78]:
crimes_by_premis_desc <- crime_data %>%
  group_by(Premis.Desc) %>%
  summarise(total_crimes = n())

    head(crimes_by_premis_desc, nrow(crimes_by_premis_desc))

    Premis.Desc
1
2   7TH AND METRO CENTER (NOT LINE SPECIFIC)
3   ABANDONED BUILDING ABANDONED HOUSE
4   ABORTION CLINIC/ABORTION FACILITY*
5   AIRCRAFT
6   ALLEY
7   APARTMENT/CONDO COMMON LAUNDRY ROOM
8   ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*
9   AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)
10  AUTO REPAIR SHOP
11  AUTO SALES LOT
12  AUTO SUPPLY STORE*
13  AUTOMATED TELLER MACHINE (ATM)
14  BALCONY*
15  BANK
16  BANKING INSIDE MARKET-STORE *
17  BAR/COCKTAIL/NIGHTCLUB
18  BAR/SPORTS BAR (OPEN DAY & NIGHT)
19  BASKETBALL COURTS
20  BEACH
21  BEAUTY SUPPLY STORE
22  BEAUTY/BARBER SHOP
23  BOOK STORE
24  BOWLING ALLEY*
25  BUS DEPOT/TERMINAL, OTHER THAN MTA
26  BUS STOP
27  BUS STOP/LAYOVER (ALSO QUERY 124)
28  BUS, SCHOOL, CHURCH
29  BUS-CHARTER/PRIVATE
30  CAR WASH
... ...
238 TATTOO PARLOR*
239 TAXI
240 TELECOMMUNICATION FACILITY/LOCATION
241 THE BEVERLY CENTER
242 THE BEVERLY CONNECTION
243 THE GROVE
244 THEATRE/MOVIE
245 TOBACCO SHOP
246 TOOL SHED*
247 TOW YARD*
248 TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*
249 TRAIN DEPOT/TERMINAL, OTHER THAN MTA
250 TRAIN TRACKS
251 TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)
252 TRANSIENT ENCAMPMENT
253 TRANSITIONAL HOUSING/HALFWAY HOUSE
254 TRANSPORTATION FACILITY (AIRPORT)
255 TRASH CAN/TRASH DUMPSTER
256 TRUCK, COMMERICAL
257 TUNNEL
258 UNDERPASS/BRIDGE*
259 VACANT LOT
260 VALET
261 VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)
262 VEHICLE, PASSENGER/TRUCK
263 VETERINARIAN/ANIMAL HOSPITAL
264 VISION CARE FACILITY*
265 WAREHOUSE
266 WEBSITE
267 YARD (RESIDENTIAL/BUSINESS)
    total_crimes
1    29
2    13
3    45
4     1
5     1
6   336
7    17
8     5
9    18
10   82
11   19
12   15
13  124
14   18
15  191
16    1
17  111
18   33
19    4
20   67
21   20
22   35
23    4
24    6
25    3
26  105
27    2
28    4
29    5
30   32
... ...
238    4
239   12
240   10
241   26
242   17
243   50
244   19
245   20
246    2
247   13
248    8
249    1
250   12
251    4
252   39
253   40
254  226
255    3
256    2
257    1
258    3
259   20
260    4
261   13
262 1520
263    3
264   10
265   95
266   34
267  275

### **Part 3: Advanced Analysis**

##### Create a new column, Severity Score, based on the following rules:
- Assign 5 points if a weapon was used (Weapon Used Cd is not null).
- Assign 3 points for crimes under BURGLARY.
- Assign 1 point for all other crimes.
- Group by AREA NAME and find the total severity score for each area.

In [79]:
# Create Severity Score based on rules
crime_data$Severity.Score <- ifelse(!is.na(crime_data$Weapon.Used.Cd), 5,
                                   ifelse(crime_data$Crm.Cd.Desc == "BURGLARY", 3, 1))

# Group by AREA NAME and find total severity score
severity_by_area <- crime_data %>%
  group_by(AREA.NAME) %>%
  summarise(total_severity_score = sum(Severity.Score))

head(severity_by_area, nrow(severity_by_area))

   AREA.NAME   total_severity_score
1  77th Street 9247
2  Central     8541
3  Devonshire  4429
4  Foothill    3823
5  Harbor      4940
6  Hollenbeck  4439
7  Hollywood   6590
8  Mission     4493
9  N Hollywood 5431
10 Newton      6773
11 Northeast   4461
12 Olympic     6257
13 Pacific     6490
14 Rampart     6216
15 Southeast   7129
16 Southwest   7005
17 Topanga     4484
18 Van Nuys    4724
19 West LA     4625
20 West Valley 4952
21 Wilshire    5203

### Bonus

##### Use the LAT and LON columns to identify crimes that occurred within a specific latitude-longitude bounding box (e.g., downtown area).

- North Boundary: North of 3rd Street
- South Boundary: South of 7th Street
- East Boundary: East of Alameda Street
- West Boundary: West of the 110 Freeway

In [81]:
# Define bounding box (latitude and longitude)
lat_min <- 34.04
lat_max <- 34.05
lon_min <- -118.26
lon_max <- -118.25

# Filter crimes within bounding box
filtered_by_location <- crime_data %>%
  filter(LAT >= lat_min, LAT <= lat_max, LON >= lon_min, LON <= lon_max)
cat('Total crimes in downtown area:', nrow(filtered_by_location))
head(filtered_by_location, 5)

Total crimes in downtown area: 806

  DR_NO     Date.Rptd              DATE.OCC               TIME.OCC AREA
1 200120593 11/04/2020 12:00:00 AM 11/02/2020 12:00:00 AM 2030     1
2 220123818 11/03/2022 12:00:00 AM 07/31/2022 12:00:00 AM 1200     1
3 210111504 06/07/2021 12:00:00 AM 06/07/2021 12:00:00 AM 2030     1
4 210120826 11/20/2021 12:00:00 AM 11/20/2021 12:00:00 AM  135     1
5 230110708 04/15/2023 12:00:00 AM 04/14/2023 12:00:00 AM 1700     1
  AREA.NAME Rpt.Dist.No Part.1.2 Crm.Cd
1 Central   176         2        740
2 Central   174         2        354
3 Central   176         1        210
4 Central   164         2        745
5 Central   152         2        740
  Crm.Cd.Desc                                             ... Status.Desc
1 VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) ... Invest Cont
2 THEFT OF IDENTITY                                       ... Invest Cont
3 ROBBERY                                                 ... Invest Cont
4 VANDALISM - MISDEAMEANOR ($399 OR UNDER)                ... Invest Cont
5 VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) ... Invest Cont
  Crm.Cd.1 Crm.Cd.2 Crm.Cd.3 Crm.Cd.4 LOCATION
1 740      NA       NA       NA       8TH                          ST
2 354      NA       NA       NA       700 S  MAIN                         ST
3 210      NA       NA       NA       700 S  LOS ANGELES                  ST
4 745      NA       NA       NA       600 S  MAIN                         ST
5 740      NA       NA       NA       600 S  HILL                         ST
  Cross.Street LAT     LON       Severity.Score
1 MAPLE        34.0408 -118.2512 1
2              34.0439 -118.2514 1
3              34.0426 -118.2513 5
4              34.0448 -118.2504 1
5              34.0491 -118.2558 1